<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    #login-div{
        width:400px;
        height:500px;
        position: fixed;
        top:30%;
        left:35%
    }
</style>

<body>

    {{>navbar}}

    <div id='login-div'>
        <h1 class='display-4'>Login Here!</h1>
        <br>
        {{!-- <form>
            <input type='text' placeholder='Username' name='username' onfocus="this.value=''">
            <br>
            <br>
            <input type='password' name='password' placeholder="Password">
            <br>
            <br>
            <button id='submit-btn'>Login</button>
        </form> --}}

        <form method="POST" action="/loginforbuyer">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <button id='submit-btn'>Login</button>
</form>
        
    </div>
</body>
</html>